img {
    width: 200px;
    border-color: rgb(92, 223, 175);
    border-width: 5px;
    border-style: dotted;
}

body {
    text-align: center;
    font-famiy: 'Arial';
    background: rgb(248, 228, 158);
    color: rgb(10, 50, 151);
}

h1 {
    padding-top: 5%;
    text-decoration: underline;
}